body {
	background: #fff;

	margin: 0;
	font-family: 'Open Sans',
		sans-serif;
	color: #34495e;
}

table {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 100%;
}

th {
	/* background: #d3d3d3f6; */
}

td {
	/* background: #d3d3d3a6; */
}

td>button {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

th,
td {
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	height: 100vh;
}

.container-login {
	width: 300px;
}

#block-files {
	width: 100%;
	height: 100%;
}

.files__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-login>form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

input[type="text"],
input[type="password"] {
	padding: 6px 7px;
	border-radius: 6px;
	border: none;
	outline: none;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #34495e;
}

.btn {
	border: none;
	outline: none;
	color: #fff;
	font-weight: bold;
	padding: 10px 18px;
	margin-top: 10px;
	transition: all .3s;
	cursor: pointer;
	border-radius: 6px;
	font-size: 13px;
}

.btn:hover {
	opacity: .8;
}

.btn-std {
	background-color: #34495e;
}

.btn-accent {
	background-color: #2ecc71;
}

.btn-danger {
	background-color: #e74c3c;
}

.hide {
	display: none;
}

#block-messages {
	position: fixed;
	bottom: 5px;
	left: 5px;
	width: calc(100% - 10px);
	box-sizing: border-box;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	border-radius: 2px;

}

#block-messages.success {
	background: #2ecc71;
}

#block-messages.error {
	background: #e74c3c;
}